[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:0x07c4/nvim-astro.git
	ignore = untracked
[submodule ".config/nvim-lazyvim"]
	path = .config/nvim-lazyvim
	url = git@github.com:0x07c4/nvim.git
	ignore = untracked
